body{
    background-color: blueviolet;
}
.nav-bar{
    height: 50px;
    background-color: burlywood;
}
ul#nav-items{
    list-style: none;
    padding: 10px;
    text-align: center;
} 
ul#nav-items li{
    margin: 20px;
    display: inline;
    font-size: larger;
}